/*
**  
**  TABLE OF CONTENTS
**  
**  VARIABLES
**      Color Variables......................Global color variables
**      Brand Color Variables................Primary, secondary, accent, and tertiary color variables
**      Font Variables.......................Global fonts
**
**  BASE
**      Resets...............................Resetting default styles
**      Global...............................Global default styles
**
*/




/* || VARIABLES || */

/* Color Variables */
$blue: #1A4A9C;
$darkBlue: #17223A;
$lightBlue: #5BB1D0;
$glacierBlue: #6EA6C5;
$red: #E40C2B; 
$yellow: #EBA63F;
$green: #438945;
$gray: rgba(58, 58, 60, 1);

/* Brand Color Variables */
$color-primary: $blue;
$color-secondary: $darkBlue;
$color-accent: $glacierBlue;
$color-tertiary: $gray;

/* Font Variables */
$font-primary: "Montserrat";




/* || BASE || */

/* Resets */
html { box-sizing: border-box; }

*, *::before, *::after { box-sizing: inherit; }

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
}

/* Global */
a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

html, body {
    color: $color-tertiary;
    font: 100%/1.2rem $font-primary;
    font-size: 100%;
    height: 100%;
    margin: 0;
    width: 100%;
}
