/*
**  TABLE OF CONTENTS
**
**  BASE.........................Import contents of Base
**  LAYOUT.......................Import contents of Layout
**  COMPONENTS...................Import contents of Components
*/
/* || BASE || */
/*
**
**  TABLE OF CONTENTS
**
**  VARIABLES
**      Color Variables................................Global color variables
**      Brand Color Variables..........................Primary, secondary, accent, and tertiary color variables
**      Font Variables.................................Global fonts
**
**  BASE
**      Resets and Default Styles......................Resetting default styles
**      Global Default Styles..........................Global default styles
**
*/
/* || VARIABLES || */
/* Color Variables */
/* Brand Color Variables */
/* Font Variables */
/* || BASE || */
/* Resets and Default Styles */
html,
body {
  box-sizing: border-box;
  color: #3a3a3c;
  font-family: "Montserrat";
  font-size: 16px;
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Global Default Styles */
a {
  color: #1A4A9C;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  border: none;
  cursor: pointer;
}

img {
  height: auto;
  max-width: 100%;
}

/* || LAYOUT || */
/*
**
**  TABLE OF CONTENTS
**
**  CONTAINERS
**      Grid Container.......................Standard grid container
**      Flex Container.......................Standard flex container
**
**  LAYOUTS
**      Landing Page.........................Layouts for the landing page
**
*/
/* || CONTAINERS || */
/* Grid Container */
/* Layout - Grid */
.l-grid {
  display: grid;
  grid: repeat(24, 1fr)/repeat(24, 1fr);
  height: 100%;
}

/* Layout - Grid Columns and Rows */
.row-1\/24 {
  grid-row: span 1;
}

.row-2\/24 {
  grid-row: span 2;
}

.row-3\/24 {
  grid-row: span 3;
}

.row-4\/24 {
  grid-row: span 4;
}

.row-5\/24 {
  grid-row: span 5;
}

.row-6\/24 {
  grid-row: span 6;
}

.row-7\/24 {
  grid-row: span 7;
}

.row-8\/24 {
  grid-row: span 8;
}

.row-9\/24 {
  grid-row: span 9;
}

.row-10\/24 {
  grid-row: span 10;
}

.row-11\/24 {
  grid-row: span 11;
}

.row-12\/24 {
  grid-row: span 12;
}

.row-13\/24 {
  grid-row: span 13;
}

.row-14\/24 {
  grid-row: span 14;
}

.row-15\/24 {
  grid-row: span 15;
}

.row-16\/24 {
  grid-row: span 16;
}

.row-17\/24 {
  grid-row: span 17;
}

.row-18\/24 {
  grid-row: span 18;
}

.row-19\/24 {
  grid-row: span 19;
}

.row-20\/24 {
  grid-row: span 20;
}

.row-21\/24 {
  grid-row: span 21;
}

.row-22\/24 {
  grid-row: span 22;
}

.row-23\/24 {
  grid-row: span 23;
}

.row-24\/24 {
  grid-row: span 24;
}

.col-1\/24 {
  grid-column: span 1;
}

.col-2\/24 {
  grid-column: span 2;
}

.col-3\/24 {
  grid-column: span 3;
}

.col-4\/24 {
  grid-column: span 4;
}

.col-5\/24 {
  grid-column: span 5;
}

.col-6\/24 {
  grid-column: span 6;
}

.col-7\/24 {
  grid-column: span 7;
}

.col-8\/24 {
  grid-column: span 8;
}

.col-9\/24 {
  grid-column: span 9;
}

.col-10\/24 {
  grid-column: span 10;
}

.col-11\/24 {
  grid-column: span 11;
}

.col-12\/24 {
  grid-column: span 12;
}

.col-13\/24 {
  grid-column: span 13;
}

.col-14\/24 {
  grid-column: span 14;
}

.col-15\/24 {
  grid-column: span 15;
}

.col-16\/24 {
  grid-column: span 16;
}

.col-17\/24 {
  grid-column: span 17;
}

.col-18\/24 {
  grid-column: span 18;
}

.col-19\/24 {
  grid-column: span 19;
}

.col-20\/24 {
  grid-column: span 20;
}

.col-21\/24 {
  grid-column: span 21;
}

.col-22\/24 {
  grid-column: span 22;
}

.col-23\/24 {
  grid-column: span 23;
}

.col-24\/24 {
  grid-column: span 24;
}

/* || LAYOUTS || */
/* Landing Page */
.p-landing .layout-content {
  grid-area: 3/2/23/15;
}
.p-landing .layout-hero {
  background-image: url("../assets/images/karen-vardazaryan-JBrfoV-BZts-unsplash.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: 1/16/last-line/last-line;
}

/* || COMPONENTS || */

/*# sourceMappingURL=main.css.map */
