@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800,900&display=swap');

:root {
    --clr-blue--dark: #17223A;
    --clr-blue: #1A4A9C;
    --clr-blue--light: #5BB1D0;
    --clr-blue--glacier: #6EA6C5;
    --clr-red: #E40C2B; 
    --clr-yellow: #EBA63F;
    --clr-green: #438945;
    --clr-gray: rgba(58, 58, 60, 1);
}

* { box-sizing: border-box; }

html, body {
    color: var(--clr-blue--dark);
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 400;
    height: 100%;
    margin: 0;
    width: 100%;
}

.container-flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: white;
    box-shadow: 0 -0.5rem 0.9rem 0.2rem var(--clr-blue--dark);
    height: 3.8rem;
    padding: 0 3rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.header_logo {
    color: var(--clr-blue);
    font-size: 1.6rem;
    font-weight: 700;
}

.header_nav-link, .header_logo, .header_nav-btn {
    cursor: pointer;
    text-decoration: none;
}

.header_nav-btn {
    border: 1px solid var(--clr-blue--dark);
    border-radius: 5px;
    padding: 3px 10px;
}

.header_nav-btn:hover {
    background-color: var(--clr-blue--dark);
    color: white;
}

.header_nav-link, .header_nav-btn {
    color: var(--clr-gray--4);
    font-size: 0.9rem;
    font-weight: 400;
}

.header_nav-link:hover {
    text-decoration: underline;
}

.header_nav-user {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}