@import url('fonts.googleapis.com/css?family=Acme|Concert+One');

html #body {
    font-family: 'Concert One', sans-serif;
    color: #343a40;
    height: 100vh;
}

nav { margin-bottom: 10px; }

.navbar-brand { font-size: 1.7em; }

.footer { background-color: #f5f5f5; }

.list-group a {
    text-decoration: none;
    color: #343a40;
    font-size: 1.5em;
}
