<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

    {% block head %}{% endblock %} 

</head>

<body>

    <div class="container-grid">

        <header class="header container-flex">
            <a class="header_logo" href="#" title="Home">CATALOGIC</a>
            <nav class="header_nav">
                {% if 'username' not in session %}
                <a class="header_nav-btn" href={{ url_for('showLogin') }}>
                    Sign in
                </a>
                {% else %}
                <a class="header_nav-link">
                    <img class="header_nav-user" src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="User Profile"> Photo"
                </a>
                {% endif %}
            </nav>

            <!--
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{{ url_for('showCategories')}}"><i class="fas fa-book-open"></i> Item Catalog App</a>
                

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <ul class="navbar-nav d-flex align-items-center">
                        {% if 'username' not in session %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('showLogin') }}"><i class="fas fa-sign-in-alt"></i> Login</a>
                        </li>
                        {% else %}
                        {% block nav %}{% endblock %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('disconnect') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            -->
        </header>
        
        <main class="main">
            {% block content %}{% endblock %}
        </main>
        
        <footer class="footer">
            <p class="footer_copy">&copy; 2019 by Christopher Stanley</p>
        </footer>

    </div>

    {% block script %}{% endblock %}

</body>
</html>