<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

    {% block head %}{% endblock %} 

</head>

<body id="body">
    <div class="d-flex flex-column h-100">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{{ url_for('showCategories')}}"><i class="fas fa-book-open"></i> Item Catalog App</a>
                
                <!-- Toggler/Collapse Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar Links -->
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <ul class="navbar-nav d-flex align-items-center">
                        {% if 'username' not in session %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('showLogin') }}"><i class="fas fa-sign-in-alt"></i> Login</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('newCategory') }}"><i class="far fa-plus-square"></i> New Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('disconnect') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        
        <main>
            <div id="content" class="container mt-2">{% block content %}{% endblock %}</div>
        </main>
        
        <footer id="footer" class="footer mt-auto py-2">
            <div class="container text-center">
                <span class="text-muted">&copy; 2019 by Christopher Stanley</span>
            </div>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block script %}{% endblock %}

</body>
</html>