{% extends "base.html" %}
{% block title %}c/{{ category.name.lower() }}{% endblock %}

{% block main %}
    <h2 class="main_title">c/{{ category.name.lower() }}</h2>

    {% for collection, user in collections %}
    <a href="">  <!-- Link to showCategory  url_for('showCollection', collection_id = collection.id) -->
        <div class="main_card">
            <div class="main_card-title">
                {{ collection.name }}
            </div>

            <div class="main_card-info">
                Created by <a href="" class="main_card-info-link">{{ user.name }}</a>
            </div>
        </div>
    </a>
    {% endfor %}

{% endblock %}