{% extends "base.html" %}
{% block title %}Animal Categories{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="text-center">Categories</h1>
    </div>
</div>
<div class="row justify-content-center">
    {% for i in categories %}
    <div class="col-12 list-group text-center">
        <a class="list-group-item list-group-item-action" href={{ url_for('showAnimals', category_id = i.id) }}>{{ i.name }}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}