{% extends "base.html" %}
{% block title %}c/all{% endblock %}

{% block sidebar %}
    <h3 class="sidebar_title">Categories</h3>
    {% for item in categories %}
    <a class="sidebar_link" id="" href="">{{ item.name }}</a>
    {% endfor %}
{% endblock %}

{% block main %}
    <h2 class="main_title"> All Collections</h2>

    {% for collection, category, user in collections %}
    <a href="">  <!-- Link to showCategory  url_for('showCollection', collection_id = collection.id) -->
        <div class="main_card">
            <div class="main_card-title">
                {{ collection.name }}
            </div>

            <div class="main_card-info">
                <a href="" class="main_card-info-link info-link-category">{{ category.name }}</a>  -  Created by <a href="" class="main_card-info-link">{{ user.name }}</a>
            </div>
        </div>
    </a>
    {% endfor %}

{% endblock %}