{% extends "base.html" %}
{% block title %}c/all{% endblock %}

{% block main %}
    <h2 class="main_title"></h2>

    {% for collection, category, user in collections %}
    <a href={{ url_for('showCollection', category_name = category.name, collection_id = collection.id) }}>
        <div class="main_card">
            <div class="main_card-title">
                {{ collection.name }}
            </div>

            <div class="main_card-info">
                <a href={{ url_for('showCategory', category_name = category.name.lower()) }} class="main_card-info-link info-link-category">
                    {{ category.name }}
                </a>
                      -  Created by
                <a href="" class="main_card-info-link">
                    {{ user.name }}
                </a>
            </div>
        </div>
    </a>
    {% endfor %}

{% endblock %}