{% extends "base.html" %}
{% block title %}Login - Item Catalog App{% endblock %}

{% block head %}
<script>
    function start() {
        gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
                client_id: '784286001175-olnb45nusq6prlo906ttntq9nj3opmq8.apps.googleusercontent.com'
            });
        });
    }
</script>
{% endblock %}

{% block content %}
<div id="signin">
    <div class="card w-50 m-auto">
        <div class="card-body text-center">
            <h1 class="card-title">Sign in to continue.</h1>
            <button type="button" id="signinGoogle" class="btn btn-dark btn-block"><i class="fab fa-google"></i>  Sign in with Google</button>
            <button type="button" id="signinTwitter" class="btn btn-dark btn-block"><i class="fab fa-twitter"></i>  Sign in with Twitter</button>
        </div>
    </div>
</div>
<div id="result" class="row"></div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#signinGoogle').click(function() {
            function signInCallback(authResult) {
                if (authResult['code']) {
                    $('#signin').attr('style', 'display: none');
                    $.ajax({
                        type: 'POST',
                        url: '/gconnect?state={{STATE}}',
                        headers: {
                            'X-Requested-With' : 'XMLHttpRequest'
                        },
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function(result) {
                            $('#result').html(`<div class="row text-center"><h1 class="col-12">Login Successful!</h1>${result}<h3 class="col-12 text-center">Redirecting...</h3>`)
                                setTimeout(function() {
                                    window.location.href = "/categories/";
                                }, 4000);
                        },
                        processData: false,
                        data: authResult['code']
                    });
                } else {
                    console.log(`There was an error: ${authResult['error']}`);
                    $('#result').html(`Failed to make a server-side call. Check your configuration and console.`);
                }
            }
            auth2.grantOfflineAccess().then(signInCallback);
        });
    });
</script>
{% endblock %}