{% extends "base.html" %}
{% block title %}Category - {{category.name}}{% endblock %}

{% block content %}
<div class="row mt-2">
    <div class="col-12">
        <h1 class="text-center">{{ category.name }}</h1>
    </div>
</div>
<div class="row justify-content-center mt-4">
    {% for i in items %}
    <div class="card col-md-5 col-12 m-2">
        <h5 class="card-header">{{ i.name }}</h5>
        <div class="card-body">
            <p class="card-text">{{ i.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}